body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(250, 250, 132);
}

 /* Nav */
 nav {
   position: absolute;
   right: 0px;
   top: 0px;
   bottom: 0px;
   min-width: 3vw;
   background-color: blue;
   padding: 20px;
   z-index: 1;
 }
 .Nav_C {
	/* Blank */
}
.Nav_b:hover {
	width: 40px;
	height: 7px;
}
	 .Nav_b {
		width: 35px;
		height: 5px;
		background-color: black;
		margin: 6px 0;
    }
    #TheSunShiningEverythingSidebar { 
      display: none;
      width: 250px;
    } 
 /* 
#TheSunShiningEverythingSidebar {
position: fixed;
bottom: 10px;
width: 100%;
background-color: lightgray;
height: 50px;
padding: 10px;
border: 1px solid black;
text-align: center;
}
*/
.SideBarShortCut {
  margin: 10px;
  width: 50px;
  float: left;
  }

/*
#TheSunShiningEverythingNavPopup {
padding: 250px;
padding-bottom: 160px;
	display: none;
	background-color: lightgray;
	border: 5px solid black;
	 opacity: 0.8;
		position: absolute;
}
#TheSunShiningEverythingNavPopup:hover {
	 opacity: 1;
}
.PopupShortCut {
	float: left;
	width: 100px;
	margin: 30px;
}
*/

header {
background-color: yellow;
}
.header_p {
display: none;
}
#MainView {

}

iframe  {
  position: absolute;
  left: 20px;
  width: 90vw;
    height: 80vh;
    max-height: 90vh;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  border: 5px solid black;
  box-sizing: border-box;
  z-index: 0;
}

#TheSunShiningHeadSite {

}

#SunBibleSite {
display: none;
}

#LifeOfJesusSite {
display: none;
}
.LifeOfJesusSite {
  height: 75vh;
}
#HowToGetToHeavenSite {
display: none;
}
#MyChristianTeacupSite {
display: none;
}
#MySmallOnlineBookMarketSite {
display: none;
  height: 80vh;
}
#more {
display: none;
  height: 80vh;
}
#search {
float: right;
width: 300px;
}