body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(250, 250, 132);
}

 /* Nav */
 nav {
   position: absolute;
   right: 0px;
   top: 0px;
   bottom: 0px;
   min-width: 3vw;
   max-width: 50%;
   background-color: rgba(0, 0, 255, 0.596);
   padding: 20px;
   z-index: 1;
 }
 nav:hover {
  background-color: blue;
  overflow: auto;
 }
 nav p {
   background-color: teal;
   float: left;
   width: 100%;
 }
 /*
 .Nav_C {
	 Blank 
}
*/
.Nav_b:hover {
	width: 40px;
	height: 7px;
}
	 .Nav_b {
		width: 35px;
		height: 5px;
		background-color: black;
		margin: 6px 0;
    }
    #TheSunShiningEverythingSidebar { 
      display: none;
      min-width: 100%;
      width: 600px;
    } 
 /* 
#TheSunShiningEverythingSidebar {
position: fixed;
bottom: 10px;
width: 100%;
background-color: lightgray;
height: 50px;
padding: 10px;
border: 1px solid black;
text-align: center;
}
*/
.SideBarShortCut {
  margin: 10px;
  width: 100px;
  float: left;
  }

/*
#TheSunShiningEverythingNavPopup {
padding: 250px;
padding-bottom: 160px;
	display: none;
	background-color: lightgray;
	border: 5px solid black;
	 opacity: 0.8;
		position: absolute;
}
#TheSunShiningEverythingNavPopup:hover {
	 opacity: 1;
}
.PopupShortCut {
	float: left;
	width: 100px;
	margin: 30px;
}
*/

header {
background-color: yellow;
padding: 3px;
margin: 3px;
border-radius: 20px;
width: 90vw;
}

/*
#MainView {

}
*/

iframe  {
  float: left;
  width: 90vw;
    height: 80vh;
    max-height: 90vh;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  border: 5px solid black;
  border-radius: 20px;
  box-sizing: border-box;
  z-index: 0;
}

/*
#TheSunShiningHeadSite {

}
*/

#SunBibleSite,
#LifeOfJesusSite, #HowToGetToHeavenSite,
#SunFromDeathBookSite, #MilkBookSite,
#SunPodSite, #CemPodSite,
#more {
display: none;
}