body {
    min-width: 500px;
background-color: rgb(245, 247, 125);
padding: 30px;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
}

a {
    text-decoration: none;
    color: red;
}
a:hover {
    color: yellow;
}

.ShortCut {
margin: 20px;
width: 100px;
border: 1px solid red;
}
.ShortCut:hover {
    border: 1px solid blue;
}

h3 {
    width: 100%;
    background-color: rgba(255, 0, 0, 0.623);
    padding: 5px;
}

/* In sync with a*/
button {
    padding: 20px;
    font-size: 20px;
    background-color: yellow;
    color: red;
    border: 1px solid red;
}
button:hover {
    color: yellow;
    background-color: rgba(255, 0, 0, 0.856);
    border: 1px solid blue;
}